# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1O9aE_Hen5smf_a6TsbVF6DM0ms4Ykj6s?usp=share_link

In [8]:
# Passo a Passo
# Passo 1: Abrir o navegador
from selenium import webdriver
navegador = webdriver.Chrome()
navegador.get("https://www.google.com/")

In [9]:
# Passo 2: Importar a base de dados
import pandas as pd

tabela = pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8   Tilápia         9.05          NaN      NaN

In [10]:
# import unicodedata
# produto = unicodedata.normalize("NFKD", produto).encode("ascii", "ignore")

for linha in tabela.index:
    produto = tabela.loc[linha, "Produto"]
    
    print(produto)
    produto = produto.replace("ó", "o").replace("ã", "a").replace("á", "a").replace(
    "ç", "c").replace("ú", "u").replace("é", "e")
    
    link = f"https://www.melhorcambio.com/{produto}-hoje"
    print(link)
    navegador.get(link)

    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace(".", "").replace(",", ".")
    print(preco)
    tabela.loc[linha, "Preço Atual"] = float(preco)
    
    
print("Acabou")
display(tabela)

# Passo 3: Para cada produto da base de dados
# Passo 4: Pesquisar o preço do produto
# Passo 5: Atualizar o preço na base de dados
# Passo 6: Decidir quais produtos comprar

Milho
https://www.melhorcambio.com/Milho-hoje
56.04
Soja
https://www.melhorcambio.com/Soja-hoje
132.90
Boi
https://www.melhorcambio.com/Boi-hoje
263.60
Petróleo
https://www.melhorcambio.com/Petroleo-hoje
377.80
Algodão
https://www.melhorcambio.com/Algodao-hoje
398.50
Açúcar
https://www.melhorcambio.com/Acucar-hoje
150.31
Café
https://www.melhorcambio.com/Cafe-hoje
1057.64
Ouro
https://www.melhorcambio.com/Ouro-hoje
318.14
Tilápia
https://www.melhorcambio.com/Tilapia-hoje
9.45
Acabou

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        56.04      NaN
1      Soja       163.59       132.90      NaN
2       Boi       282.20       263.60      NaN
3  Petróleo       424.37       377.80      NaN
4   Algodão       497.76       398.50      NaN
5    Açúcar       136.23       150.31      NaN
6      Café      1092.87      1057.64      NaN
7      Ouro       321.77       318.14      NaN
8   Tilápia         9.05         9.45      NaN

In [11]:
# preencher a coluna de comprar
tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)

# exportar a base para o excel
tabela.to_excel("commodities_atualizado.xlsx", index=False)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        56.04     True
1      Soja       163.59       132.90     True
2       Boi       282.20       263.60     True
3  Petróleo       424.37       377.80     True
4   Algodão       497.76       398.50     True
5    Açúcar       136.23       150.31    False
6      Café      1092.87      1057.64     True
7      Ouro       321.77       318.14     True
8   Tilápia         9.05         9.45    False

In [12]:
navegador.quit()